/* SECTION Global CSS
*/

/* MACRO ELEMENTS */
/* General */
html, body { height: 100%; margin: 0; background-color: #181818; text-rendering: optimizeLegibility; }
#__next { height: 100%; margin: 0; background-color: #181818; text-rendering: optimizeLegibility; }

/* FONTS */
@font-face {
    font-family: 'Dosis';   
    src: url("/fonts/Dosis-VariableFont_wght.ttf");
    font-weight: 100;
}
@font-face {
    font-family: 'Dosis';   
    src: url("/fonts/Dosis-VariableFont_wght.ttf");
    font-weight: 200;
}
@font-face {
    font-family: 'Dosis';   
    src: url("/fonts/Dosis-VariableFont_wght.ttf");
    font-weight: 300;
}
@font-face {
    font-family: 'Dosis';   
    src: url("/fonts/Dosis-VariableFont_wght.ttf");
    font-weight: 400;
}
@font-face {
    font-family: 'Dosis';   
    src: url("/fonts/Dosis-VariableFont_wght.ttf");
    font-weight: 500;
}
@font-face {
    font-family: 'Dosis';   
    src: url("/fonts/Dosis-VariableFont_wght.ttf");
    font-weight: 600;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #1E1E1E;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #303436;
    border-radius: 0px;
}
::-webkit-scrollbar-corner {
    background-color: #111213;
}

/* NS PROGRESS BAR */
#nprogress .bar {
    background: #DB2763 !important;
}

/* SELECTION */
::selection {
    background-color: #DB2763 !important;
    color: #FFF !important;
}
  
/* CODE BUTTON */
.avdoods-code-button:hover::before {
  width: 0px;
  background: #191919;
}
.avdoods-code-button:hover::after {
  height: 0px;
  background: #191919;
}
