/* SECTION Global CSS
*/

/* MACRO ELEMENTS */
/* General */
html, body { height: 100%; margin: 0; background-color: #1E1E1E; text-rendering: optimizeLegibility; }
#__next { height: 100%; margin: 0; background-color: #1E1E1E; text-rendering: optimizeLegibility; }

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #3D3D3F;
    border-radius: 0px;
}

/* NS PROGRESS BAR */
#nprogress .bar {
    background: #7991D1 !important;
}

/* SELECTION */
::selection {
    background-color: #7991D1 !important;
    color: #FFF !important;
}

